Package: ${NAME}
Version: ${VERSION}
Architecture: ${ARCH}
Maintainer: ${MAINTAINER}
Description: ${SUMMARY}
Depends: ${DEPENDS}
Pre-Depends: dpkg
Conflicts: ${CONFLICTS}
Section: hamradio
Priority: optional
