Package: ${NAME}
Version: ${VERSION}
Architecture: ${ARCH}
Maintainer: ${MAINTAINER}
Description: ${SUMMARY}
Depends: ${DEPENDS}
Conflicts: ${CONFLICTS}
License: ${LICENSE}
Section: hamradio
Priority: optional
